body {
    background-color: antiquewhite;
    color: 	#353935;
    font-size: 1.1em;
    margin: 0 14%;
}

header .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../media/dithered-image.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: 100% auto;
    height: 250px;
}

h1 {
    margin: 0;
    color: black;
    font-size: 3rem;
    font-weight: 600;
}

h2 {
    margin: 0 0 10px 0;
}

p {
    margin: 0;
}

article {
    margin: 20px 0px;
}
article img{
    width: 15vw;
    align-self: stretch;
}

article:nth-child(odd) img {
    margin: 0 0 0 15px;
}

article:nth-child(even) img {
    margin: 0 15px 0 0;
}

article:nth-child(odd){
    display: flex;
    flex-direction: row-reverse;
}

article:nth-child(even){
    display: flex;
    flex-direction: row;
}

article .article-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

article.source {
    flex-direction: column;
    align-items: flex-start;
}

article.source p {
    margin-top: 0;
}

article.intro {
    margin-bottom: 75px;
}

article.conclusion {
    margin-top: 75px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 0;
}